<h1>Welcome, <span ng-bind="dashboardCtrl.userName"></span></h1>


<form>
<h3>Add a new Topic</h3>
Topic: <input type="text" ng-model="dashboardCtrl.newTopic.content">
Description: <textarea cols="50" rows="10" ng-model="dashboardCtrl.newTopic.description"></textarea>
Category: <select 
	ng-options="category.name for category in dashboardCtrl.categories"
	ng-model="dashboardCtrl.newTopic.category">
	</select>
<input type="submit" value="Submit" ng-click="dashboardCtrl.addTopic()">
</form>

<table border="1">

<input type="text" ng-model="topicFilter" placeholder="Search...">

<tr>
	<th>Category</th>
	<th>Topic</th>
	<th>User Name</th>
	<th>Posts</th>
</tr>
<tr ng-repeat="topic in dashboardCtrl.topics | filter:topicFilter" >
	<td><span ng-bind="topic._category.name"></span></td>
	<td><a href="#/topic/{{topic._id}}"<span ng-bind="topic.content"></span></td>
	<!-- <td><input type="submit" value="{{topic._user.name}}" ng-click="dashboardCtrl.showUser(topic._user._id)"></td> -->
	<td><a href="#/user/{{topic._user._id}}"<span ng-bind="topic._user.name"></a></td>
	<!-- <td><span ng-bind="topic._user.name"></span></td> -->
	<td><span ng-bind="topic.answers.length"></span></td>
</tr>