
<a href="#/dashboard">Dashboard</a>
<a href="#/logout">Logout</a>



<h3><span ng-bind="topicCtrl.topic._user.name"></span> posted a topic:</h3>

	<h4><span ng-bind="topicCtrl.topic.content"></span></h4>
	<h4>Description: <span ng-bind="topicCtrl.topic.description"></span></h4>

<form>
<h5>Post your answer here...</h5>
<textarea rows='5' cols='50' ng-model="topicCtrl.newAnswer.content"></textarea>
<input type="submit" value="Answer" ng-click="topicCtrl.addAnswer()">
</form>

<hr>

<div ng-repeat="answer in topicCtrl.topic.answers">
	<h4><span ng-bind="answer._user.name"> </span>:</h4>
	<h4><span ng-bind="answer.content"></span></h4>
	<br>
	<span ng-bind="answer.upvotes"></span>
	<form>
	<input type="submit" value="Upvote" ng-click="topicCtrl.upvote(answer)">
	</form>
	<span ng-bind="answer.downvotes"></span>
	<form>
	<input type="submit"  value="Downvote" ng-click="topicCtrl.downvote(answer)">
	</form>
	
	<div ng-repeat="comment in answer.comments">
		<h5><span ng-bind="comment._user.name"></span>:</h5>
		<h5><span ng-bind="comment.content"></span></h5>
	</div>
	<form>
	<textarea rows='5' cols='50' ng-model="topicCtrl.newComment[$index].content"></textarea>
	<input type="submit" value="Comment" ng-click="topicCtrl.addComment(answer._id, $index)">
	</form>

</div>